*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'mona_sharkregular';
    src: url('/mona_shark-webfont.woff2') format('woff2'),
         url('/mona_shark-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plus_jakarta_sansregular';
    src: url('/plusjakartasans-variablefont_wght-webfont.woff2') format('woff2'),
         url('/plusjakartasans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container{
    display: flex;
    min-height: 100vh;
}

.left-panel{
    display: flex;
    flex-direction: column;
    background-image: url("/sharkBackground.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    background-position: center;
    width: 40vw;

}

.icon-title{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    gap: 1vw;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15vh;
}

.shark-fin{
    height: 22vh;
}

h1{
    font: 3rem "mona_sharkregular";
    color: white;
}

.right-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;

}

.left{
    padding-left: 3vw;
}

.header{
    background-color: rgb(233, 232, 232);
    font-size: 1.5rem;
    padding-top: 5vh;
    padding-right: 4vw;
    font-family: 'plus_jakarta_sansregular', Tahoma, sans-serif;
}

.last-paragraph{
    margin-bottom: 30px;
}

.form{
    display: flex;
    flex-flow: row wrap;
    font-family: 'plus_jakarta_sansregular', Tahoma, sans-serif;
    box-shadow: 5px 5px 9px #e4e4e4;
}

.form-title{
    width: 100%;
    margin: 30px 0;
    font-size: 2rem;
}

.form-input {
    margin-bottom: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    width: 40%;
}

input{
    padding: 10px 20px;
    outline: none;
    border: 2.3px solid #E5E7EB;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 0.5rem;
}


input:focus{
    border: 2.3px solid #5bc9d4;
}

button{
    background: #5bc9d4;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
}

.button-create{
    padding-top: 6vh;
    padding-bottom: 2vh;
}

.footer{
    font-family: 'plus_jakarta_sansregular', Tahoma, sans-serif;
    margin-bottom: 10vh;
}

@media (max-width: 846px) {
    .container{
        flex-direction: column;
    }
    .left-panel,
    .right-panel{
        width: 100%;
    }
    .icon-title{
        top: 0;
    }
    .form{
        flex-direction: column;
    }
    .form-input{
        width: 100%;
        padding-right: 13px;
    }
    
}