*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'mona_sharkregular';
    src: url('/fonts/mona_shark-webfont.woff2') format('woff2'),
         url('/fonts/mona_shark-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container{
    display: flex;
    min-height: 100vh;
}

.left-panel{
    display: flex;
    flex-direction: column;
    background-image: url("/media/sharkBackground.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    width: 40vw;

}

.icon-title{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.shark-fin{
    height: 12vh;
}

h1{
    font: 3rem "mona_sharkregular";
    color: white;

}

.right-panel{
    width: 60vw;
}